# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
*.sqlite3

# Media files
/media

# Static files
/static

# Python environment
/env

# Local environment settings
.env

# docker
dockerfile
